*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

/* Navbar */
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



/* Main body content */
/*
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
*/
.main-area div {
  background-color: whitesmoke;
  border: 1px solid black;
}
.main-area div h1 {
  width: 50%;
  margin: 0 auto;
}
.main-area div a {
  display: block;
  margin: 5% auto;
  width: 50%;

}
.main-area div a button {
  width: 200px;
  max-width: 100%;
  padding: 15px;
  color: white;
  background-color: #0082e6;
  border-radius: 10px;
}
.main-area {
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas: 'headerbanner headerbanner headerbanner headerbanner'
                        'cat1 cat2 trending-product trending-product'
                        'cat3 cat4 trending-product trending-product'
                        'cat5 cat6 trending-product trending-product'
                        ;
}
.headerbanner {
  grid-area: headerbanner;
}
.cat1 {
  grid-area: cat1;
}
.cat2 {
  grid-area: cat2;
}
.cat3 {
  grid-area: cat3;
}
.cat4 {
  grid-area: cat4;
}
.cat5 {
  grid-area: cat5;
}
.cat6 {
  grid-area: cat6;
}
.trending-product {
  grid-area: trending-product;
}












/* Footer */
footer{
  /*position: fixed;
  bottom: 0px;*/
  width: 100%;
  background: #111;
  color: white;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
















/* media queries for responsiveness */
/*
@media (max-width : 952px){
    label.log{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }            
}
*/

@media screen and (max-width: 960px) {
  .checkbtn {
    display: block;
}
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
nav ul li {
    display: block;
    margin: 50px;
    line-height: 30px;
}
nav ul li a {
    font-size: 20px;
}
a:hover,a.active{
    background: none;
    color: #0082e6;
}
#check:checked ~ ul {
    left: 0;
}
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
  .main-area {
    grid-template-areas: 'headerbanner headerbanner headerbanner'
                         'cat1 trending-product trending-product'
                         'cat2 trending-product trending-product'
                         'cat3 trending-product trending-product'
                         'cat4 trending-product trending-product'
                         'cat5 trending-product trending-product'
                         'cat6 trending-product trending-product'
                         ;
 }
}

@media screen and (max-width: 480px) {
  .main-area {
    grid-template-areas: 'headerbanner'
                         'trending-product'
                         'cat1'
                         'cat2'
                         'cat3'
                         'cat4'
                         'cat5'
                         'cat6'
                         ;
 }
}
@media screen and (max-width: 440px) {
  label.logo{
    padding: 0;
    margin-left: 1%;
  }
}




